<div class="section_2">
  <h2>Recent Appraisals</h2>
  <hr>
  <div id="demo">
    <div class="span12">
      <div id="owl-demo" class="owl-carousel">
        <% @recent_appraisals.each_with_index do |ra, i| %>
            <div class="item link"><span class="gft report-image1"><%= cl_image_tag(ra.short_appraisal_public_id+".png", :width => 140, :height => 261, :crop => :fill, :id => ra.id.to_s) %></span></div>
         <% end %>
     </div>
      <div class="customNavigation">
        <a class="btn prev my_arrow"><%= image_tag("left-arrow.png", :alt=> "Appraisal") %></a>
        <a class="btn next my_arrow"><%= image_tag("right-arrow.png", :alt=> "Appraisal") %></a>
      </div>
    </div>
  </div>
  <div class="last_serip">
    <p> End of Month <strong>20% off</strong> sales on Appraisals use code <strong>CF14458</strong> at checkout</p>
  </div>
</div>