<div class="container wal">
  <div class="welcome app">
    <h2>Appraisal Type</h2>
    <div class="my-tab plans">
      <div class="my-tab-list-bor"> </div>
      <div class="my-tab-list">
        <ul>
          <li><a href="">
            <div class="con-list">
              <div class="green-no color-gre"> 1 </div>
            </div>
          </a> Inform</li>
          <li><a href="">
            <div class="con-list">
              <div class="green-no color-gre"> 2 </div>
            </div>
          </a>Upload</li>
          <li><a href="">
            <div class="con-list">
              <div class="green-no color-gre"> 3 </div>
            </div>
          </a>Select</li>
          <li><a href="">
            <div class="con-list">
              <div class="green-no color-gre"> 4 </div>
            </div>
          </a>Check Out</li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="my-wel-row">
            <div class="col-md-7 five-three">
              <div class="row">
                <div class="col-md-4">
                  <div class="top">
                    <h3>Top Seller</h3>
                  </div>
                  <label for="checkbox1" class="jkl">
                    <div class="auc">
                      <div class="wel-gre">
                        <p>Auction Estimate </p>
                      </div>
                      <h4>PERSONAL </br>
                        USE ONLY</h4>
                      <ul>
                        <li> Auction value range</li>
                        <li>Proper description of the subject property</li>
                        <li>Estimated age of subject property</li>
                        <li>Brief appraiser comments</li>
                        <li>USPAP Compliant</li>
                      </ul>
                      <h6>Uses</h6>
                      <ul>
                        <li>Personal curiosity</li>
                        <li>Buying or selling</li>
                      </ul>
                      <h5 class="dol">$9.95</h5>
                    </div>
                  </label>
                  <div class="my-select">
                    <div>
                      <input id="checkbox1" type="checkbox" name="checkbox" value="1" unchecked>
                      <label id="check1" for="checkbox1"><span></span><span class="sele">select</span></label>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="top"> </div>
                  <label for="checkbox2" class="jkl">
                    <div class="auc">
                      <div class="wel-gre">
                        <p>Short Restricted Use</p>
                      </div>
                      <h4>PERSONAL </br>
                        USE ONLY</h4>
                      <ul>
                        <li> Basic valuation</li>
                        <li>Basic appraiser’s comments</li>
                        <li>Replacement Value</li>
                        <li>Fair Market Value</li>
                        <li>USPAP Compliant</li>
                      </ul>
                      <h6>Uses</h6>
                      <ul>
                        <li>Personal curiosity</li>
                        <li>Buying or selling</li>
                        <li>Equitable distribution</li>
                        <li>Estate planning</li>
                      </ul>
                      <h5 class="dol">$19.95</h5>
                    </div>
                  </label>
                  <div class="my-select">
                    <div>
                      <input id="checkbox2" type="checkbox" name="checkbox" value="2" unchecked>
                      <label id="check2" for="checkbox2"><span></span><span class="sele">select</span></label>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="top"> </div>
                  <label for="checkbox3" class="jkl">
                    <div class="auc">
                      <div class="wel-gre">
                        <p>Long Restricted Use</p>
                      </div>
                      <h4>PERSONAL </br>
                        USE ONLY</h4>
                      <ul>
                        <li> Standard valuation</li>
                        <li>Comprehensive appraiser’s comments</li>
                        <li>Replacement Value</li>
                        <li>Fair Market Value</li>
                        <li>Comprehensive description</li>
                        <li>History often included</li>
                        <li>USPAP Compliant</li>
                      </ul>
                      <h6>Uses</h6>
                      <ul>
                        <li>Personal curiosity</li>
                        <li>Buying or selling</li>
                        <li>Equitable distribution</li>
                        <li>Equitable distribution</li>
                        <li>Estate planning</li>
                      </ul>
                      <h5 class="dol">$36.95</h5>
                    </div>
                  </label>
                  <div class="my-select">
                    <div>
                      <input id="checkbox3" type="checkbox" name="checkbox" value="3" unchecked>
                      <label id="check3" for="checkbox3" ><span></span><span class="sele">select</span></label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-5 five-two">
              <div class="row">
                <div class="col-md-6">
                  <div class="top">
                    <h3>Top Seller</h3>
                  </div>
                  <label for="checkbox4" class="jkl">
                    <div class="auc">
                      <div class="wel-gre">
                        <p>long full USE</p>
                      </div>
                      <h4> FOR USE BY </br>
                        THIRD PARTIES </h4>
                      <ul>
                        <li>Premium valuation</li>
                        <li>Comprehensive appraiser’s comments</li>
                        <li>Replacement Value</li>
                        <li>Fair Market Value</li>
                        <li>Comprehensive description</li>
                        <li>History often included</li>
                        <li>USPAP compliant</li>
                      </ul>
                      <h6>Uses</h6>
                      <ul>
                        <li>Buying or selling</li>
                        <li>Equitable distribution</li>
                        <li>Estate planning</li>
                        <li>
                          <h6 class="marg trans"><font color="e76311">with pre-approval<br>
                            May be Accepted for</font></h6>
                        </li>
                        <li>Damage claims</li>
                        <li>Acquiring insurance</li>
                        <li>Other legal uses</li>
                      </ul>
                      <h5 class="dol">$44.95</h5>
                    </div>
                  </label>
                  <div class="my-select">
                    <div>
                      <input id="checkbox4" type="checkbox" name="checkbox" value="4" unchecked>
                      <label id="check4" for="checkbox4"><span></span><span class="sele">select</span></label>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="top"> </div>
                  <label for="checkbox5" class="jkl">
                    <div class="auc">
                      <div class="wel-gre">
                        <p>Tax Appraisal</p>
                      </div>
                      <h4> Valuations </br>
                        up to $5,000</h4>
                      <ul>
                        <li>Premium valuation </li>
                        <li>Comprehensive appraisers comments</li>
                        <li>Replacement Value</li>
                        <li>Fair Market Value</li>
                        <li>Comprehensive description</li>
                        <li>USPAP compliant</li>
                        <li>IRS Compliant </li>
                        <li>Partially Completed IRS form 8283 </li>
                        <li>(Section A ONLY)</li>
                      </ul>
                      <h6>Uses</h6>
                      <ul>
                        <li>Ideal for charitable</li>
                        <li>contributions when under $5,000 FMV</li>
                      </ul>
                      <ul>
                        <li>Proof of value to the IRS</li>
                        <li>Ideal for tax preparation</li>
                        <li>Ideal for gifting personal property</li>
                      </ul>
                      <h5 class="dol">$59.95</h5>
                    </div>
                  </label>
                  <div class="my-select">
                    <div>
                      <input id="checkbox5" type="checkbox" name="checkbox" value="5" unchecked>
                      <label id="check5" for="checkbox5"><span></span><span class="sele">select</span></label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="select-note">
      <p><b>Note:</b> Check the box below if your appraisal request is  for a set (e.g., dresser set), service (e.g., flateware or dinnerware service), or a suite (e.g., suite of bedroom furniture).</p>
      <input type="checkbox" value="" id="appraisel">
      <label class="checkbox" for="appraisel">
        Appraisals  for a set, service or a suite
      </label>
      <div class="clear"></div>
    </div>
  </div>
</div>