<![if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]>
<!-- tb_check -->

  <div class="footer_menu">
    <ul>
      <li><a href="index.html">Home</a></li>
      <li><a href="appraisals.html">Affiliate Links</a></li>
      <li><a href="appraisals.html">About online appraisals</a></li>
      <li><a href="http://blog.valuethisnow.com/">Blog</a></li>
      <li><a href="testimonial.html">Testimonials</a></li>
      <li><a href="support.html">Support</a></li>
      <li><a href="login.html">Become an Appraiser </a></li>
      <li><a href="https://www.valuethisnow.com/home/privacy">Privacy Policy</a></li>
      <li><a href="https://www.valuethisnow.com/home/terms">Terms of Service</a></li>
      <li><a href="login.html">Login</a></li>
      <li><a href="contact-us.html">Contact Us</a></li>
      <li class="more_link"><a href="#">More <i class="fa fa-caret-up"></i></a>
        <ul>
          <li><a href="stores.html">Stores</a></li>
          <li><a href="roadshows.html">Road Show</a></li>
          <li><a href="salvages.html">Salvage</a></li>
          <li><a href="rare-books.html">Rare books</a></li>
          <li><a href="sports-memorabilia.html">Sport memorabilia</a></li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="social_menu2">
    <ul>
      <li><a href="https://www.facebook.com/ValueThisNow">Facebook </a></li>
      <li><a href="http://www.twitter.com/valuethisnow">Twitter</a></li>
      <li><a href="https://www.pinterest.com/valuethisnow/">Pinterest</a></li>
      <li><a href="#">Youtube</a></li>
      <li><a href="#">Email</a></li>
      <li><a href="#">Google+</a></li>
    </ul>
  </div>
  <div class="copy">
    <p>Copyright  2015 Valuethisnow, All Rights Reserved</p>
  </div>
  <div class="social_menu">
    <ul>
      <li><a href="https://www.facebook.com/ValueThisNow"><i class="fa fa-facebook"></i></a></li>
      <li><a href="http://www.twitter.com/valuethisnow"><i class="fa fa-twitter"></i></a></li>
      <li><a href="https://www.pinterest.com/valuethisnow/"><i class="fa fa-pinterest-p"></i></a></li>
    </ul>
  </div>


